.main-gale{
    @include main_galeria{
        height: 90vh;
        overflow-y: scroll;
    }
}

.rows{
    display: flex;
    padding: 50px;
    @include main_galeria{
        display: block;
    }
    h2{
        @include main_galeria{
            text-align: center;
        }
        padding: 0px 0px 10px 0px;
    }
    .column{
        flex: 25%;
        padding: 5px;
        img{
            width: 100%;
            margin-top: 5px;
            transition: all 0.6s ease 1ms;
            &:hover{
                @include column{
                    transform: scale(1.3);
                }
            }
        }
    }
}