footer{
    background-color: $color-secondary;
    padding: 15px;
    .lista-footer{
        font-size: 1rem;
        ul{
            display: flex;
            justify-content: center;
            @extend %listas;
            li{
                margin: 10px;
            }
        }
    }
}