.header{
    background-color: $color-secondary;
    color: white;
    padding: 15px;
    @include portatil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__nav{
            width: 50vw;
        }
    }
    &__title{
        text-align: center;
        padding: 10px;
    }
    &__nav ul{
        display: flex;
        justify-content: space-around;
        @extend %listas;
    }
}

.hero{
    height: 91.5vh;
    background: url(../img/portada_web.jpg) center / cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        color: white;
        background-color: grey;
        padding: 10px;
        border-radius: 20px;
        overflow: hidden;

        animation: animation-title 4s ease-in-out 0.3s infinite;
    }
}