.header{
    background-color: $color-secondary;
    color: white;
    padding: 15px;
    @include portatil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__nav{
            width: 50vw;
        }
    }
    &__title{
        text-align: center;
        padding: 10px;
    }
    &__nav ul{
        display: flex;
        justify-content: space-around;
        @extend %listas;
    }
}