footer{
    background-color: #48838B;
    padding: 15px;
    .lista-footer{
        font-size: 1rem;
        ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            li{
                margin: 10px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}